##view regexp
RewriteCond %{REQUEST_URI} ^.*/inspire_.*_view$
RewriteCond %{QUERY_STRING} ^$
RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^(.*)$ $1?service=WMS\&request=GetCapabilities [L]

##download regexp
RewriteCond %{REQUEST_URI} ^.*/inspire_.*_download$
RewriteCond %{QUERY_STRING} ^$
RewriteCond %{REQUEST_METHOD} !POST
RewriteRule ^(.*)$ $1?service=WFS\&request=GetCapabilities [L]